name: Deploy to Render using Docker

on:
  workflow_dispatch:  # Allows manual triggering

env:
  RENDER_SERVICE_ID: ${{ vars.RENDER_SERVICE_ID }}  # Using GitHub Environment Variable
  

jobs:
  build:
    name: Build Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t m3u8-backend:latest ./backend

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    needs: build  # Runs after the build job

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          cd backend
          npm install

      - name: Run Tests
        env:
          MONGODB_URI: ${{ vars.MONGODB_URI }}  # Using GitHub Environment Variable
          MONGODB_DB_NAME: ${{ vars.MONGODB_DB_NAME }}  # Using GitHub Environment Variable
        run: |
          cd backend
          npm test

  deploy:
    name: Deploy to Render
    runs-on: ubuntu-latest
    needs: test  # Runs only if tests pass
    environment: production
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub securely
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/m3u8-backend-server:latest ./backend
          docker push ${{ secrets.DOCKER_USERNAME }}/m3u8-backend-server:latest

      - name: Trigger Render Deployment
        run: |
          curl -X POST "https://api.render.com/v1/services/${{ env.RENDER_SERVICE_ID }}/deploys" \
          -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
          -H "Accept: application/json" \
          -d ''
